<div class="py-8">
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h1 class="text-center text-3xl">{{ blog.title }}</h1>
    <div class="mx-auto max-w-6xl">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        {% for article in blog.articles %}
          <div class="w-full px-3 py-6">
            <div class="overflow-hidden rounded-lg bg-white shadow-xl">
              <a href="{{ article.url }}">
                {% if article.image %}
                  <img
                    class="h-80 w-full object-cover"
                    src="{{ article.image | image_url: width: 600 }}"
                    alt="{{ article.image.alt }}"
                    width="600"
                    height="320"
                  >
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
                {% endif %}
              </a>
              <div class="p-4">
                <h1 class="my-4 text-xl font-medium">{{ article.title }}</h1>
                {% if article.excerpt.size > 0 %}
                  <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                {% endif %}

                <a href="{{ article.url }}" class="my-4 block font-medium text-blue-500 hover:text-blue-800">
                  {{- section.settings.blog_read_more -}}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="mx-auto max-w-6xl">
      {% render 'pagination', pagination: paginate %}
    </div>
  {% endpaginate %}
</div>
{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read more label",
      "default": "Read more"
    },
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "label": "Blog posts per page",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    }
  ]
}
{% endschema %}
